@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  text-decoration: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.menu__filters-title, .menu__sorts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F4F4F4;
}

.container {
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #2E3A59;
  margin-top: 128px;
  text-align: center;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.05em;
}

.description-text {
  margin: 119px 0 0 36px;
  font-size: 18px;
}

.theme-wrapper {
  width: 222px;
  margin-left: auto;
}

.theme-icon-wrapper {
  border: 1px solid #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theme-icon {
  margin: 8px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #006DD1;
  color: #fff;
  margin-top: 50px;
  /* для элемента input c type="checkbox" */
  /* для элемента label, связанного с .custom-checkbox */
  /* создание в label псевдоэлемента before со следующими стилями */
  /* стили при наведении курсора на checkbox */
  /* стили для активного чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}
.menu__sorts {
  margin-top: 11px;
}
.menu .sort-categories {
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 26px;
  height: 40px;
}
.menu .checkboxes {
  margin-top: 25px;
  margin-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu .checkbox-wrapper {
  width: 72px;
  margin-right: 38px;
}
.menu .checkbox {
  width: 18px;
  height: 18px;
  border-radius: 5px;
}
.menu .checkbox-category {
  margin: 0 33px 0 8px;
}
.menu label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.menu .custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.menu .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #08f156;
}
.menu .custom-checkbox:not(:disabled):active + label::before {
  background-color: #08f156;
  border-color: #08f156;
}
.menu .custom-checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 255, 0, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(251, 255, 0, 0.25);
}
.menu .custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
.menu .custom-checkbox:checked + label::before {
  border-color: #08f156;
  background-color: #08f156;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.menu .custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.gallery-items {
  margin-top: 150px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 150px;
}

.gallery-item {
  position: relative;
  background-color: #787878;
  width: 300px;
  height: 300px;
}
.gallery-item__data {
  position: absolute;
  top: 95%;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}
.gallery-item__likes {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 250px;
  left: 208px;
  font-size: 30px;
  line-height: 35px;
  color: #2E3A59;
}
.gallery-item__likes .likes-amount {
  margin-right: 9px;
}

.footer {
  background-color: #006DD1;
  color: #fff;
  margin-top: 382px;
  min-height: 132px;
}

@media screen and (max-width: 768px) {
  .menu {
    min-height: 167px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__sorts {
    margin-left: 79px;
  }
  .menu__filters-title {
    margin-left: 36px;
  }
}
/*# sourceMappingURL=style.css.map */